h1 {
    padding-top: 65px;
    padding-left: 200px;
    font-size: 48px;
    color: black;
    text-align: left;
    letter-spacing: 1px;
}

p {
    color: black;
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    padding-left: 320px;
    padding-right: 260px;
}