.contact-form {
   display: flex;
   flex-direction: column;
   width: 55vw;
   height: 60vh;
   justify-content: space-evenly;
   align-items: left;
   margin: 70px auto;
   padding: 10px 60px;
   border-radius: 5px;
   border: 2px solid #e4dfe9;
}

.input {
    padding: 10px 200px 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #dad2e2;
}

button {
    padding: 10px 30px;
    width: 20vw;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #dad2e2;
}

label {
    font-size: 24px;
    font-style: italic;
}