.contact-form {
   display: flex;
   flex-direction: column;
   width: 55vw;
   height: 60vh;
   justify-content: space-evenly;
   align-items: left;
   margin: 10vh auto;
   padding: 20px;
   border-radius: 5px;
   border: 1px solid black;
}

.input {
    padding: 10px 200px 10px 10px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    padding: 10px 30px;
    width: 20vw;
    font-size: 16px;
    border-radius: 5px;
}

label {
    font-size: 20px;
    font-style: italic;
}