.prof-links {
    /* bottom: 1px; */
    /* font-size: 38rem; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: space-around; */
    /* height: 50px; */
} 

/* .media {
    height: 50px;
} */