.header {
    height: 75vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 280px;
    height: auto;
    margin: 0 170px;
    border-radius: 12px;
}
