.screenshot {
    width: 40vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 4px #c7c1ce;
}

.projectCard {
    width: 70vw;
    border-radius: 5px;
    margin: 10vh auto;
    padding: 40px 20px;
    border: 2px solid #e4dfe9;
}

.project-title {
    padding: 0 0 0 40px;
    font-size: 36px;
    text-align: left;
}

.tech-stack {
    text-align: left;
    margin-left: 40px;
}

.project-content {
    padding: 10px 60px 20px 40px;
    text-align: left;
    font-size: 18px;
}