.skills-header {
    margin: 0 auto;
    padding: 80px 0 20px 10px;
}

.skills-card {
    font-size: 24px;
    border: 2px solid #e4dfe9;
    border-radius: 5px;
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}
.skill {
    border-radius: 8px;
    border: 3px solid #e4dfe9;
    width: 13vw;
    height: 60px;
    margin: 20px 0 20px 90px;
    text-align: center;
    padding: 40px 10px 10px 10px;
}

.skill:hover{
    background-color: #e4dfe9;
    font-weight: bolder;
}